#aries-titlebar,
#aries-powerbar {
	// align-items: center;
	border: 0;
	border-bottom: 1px solid rgba($black, 0.05);
	// display: flex;
	// flex-direction: row;
	overflow: hidden;
	position: relative;
	width: 100%;

	-webkit-user-select: none;
}