@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alegreya/400.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/alegreya/400i.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/alegreya/700.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/alegreya/700i.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/alegreya/900.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/alegreya/900i.woff") format("woff"); }

@font-face {
  font-family: "Ionicons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ionic/ionicons.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/muli/200.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/muli/200.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/muli/300.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/muli/300.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/muli/400.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/muli/400.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/muli/600.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/muli/600.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/muli/700.woff") format("woff"); }

@font-face {
  font-family: "Muli";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/muli/700.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans/300.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/400.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/opensans/500.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans/600.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans/700.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/opensans/900.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcecodepro/200.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcecodepro/300.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcecodepro/400.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/sourcecodepro/500.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcecodepro/600.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sourcecodepro/700.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/sourcecodepro/900.woff") format("woff"); }

/**

  _colours.scss
  // http://clrs.cc

*/
/* line 22, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--aqua {
  background-color: #7fdBff; }

/* line 26, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--blue {
  background-color: #0074d9; }

/* line 30, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--navy {
  background-color: #001f3f; }

/* line 34, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--teal {
  background-color: #39cccc; }

/* line 38, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--green {
  background-color: #2ecc40 !important; }

/* line 42, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--olive {
  background-color: #3d9970; }

/* line 46, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--lime {
  background-color: #01ff70; }

/* line 63, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--yellow {
  background-color: #ffdc00 !important; }

/* line 67, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--orange {
  background-color: #ff851b; }

/* line 71, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--red {
  background-color: #ff4136 !important; }

/* line 75, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--fuchsia {
  background-color: #f012be; }

/* line 79, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--purple {
  background-color: #b10dc9; }

/* line 83, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--maroon {
  background-color: #85144b; }

/* line 101, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--white {
  background-color: #fff; }

/* line 105, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--silver {
  background-color: #ddd; }

/* line 109, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--gray {
  background-color: #aaa; }

/* line 113, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--black {
  background-color: #111; }

/* line 117, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--dark-gray {
  background-color: #2e353d; }

/* line 121, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--charcoal {
  background-color: #353c45; }

/* line 125, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_colours.scss */
.bg--slate-gray {
  background-color: #444b53; }

/* line 4, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-rendering: optimizeLegibility !important;
  text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.004);
  -webkit-font-smoothing: antialiased !important; }
  /* line 15, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
  *:before,
  *:after {
    box-sizing: border-box; }

/* line 24, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 31, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
html {
  overflow: hidden; }

/* line 35, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
body {
  line-height: 1;
  -webkit-user-select: none; }

/* line 40, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  color: rgba(25, 25, 25, 0.3);
  font-family: "Ionicons";
  font-size: 16px;
  opacity: 1;
  transition: all 0.2s ease; }

/* line 52, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
input:focus {
  outline: 0; }

/* line 57, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
ol,
ul {
  list-style: none; }

/* line 61, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
a {
  text-decoration: none; }
  /* line 64, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
  a:visited {
    text-decoration: none; }

/* line 69, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
strong {
  font-weight: 600; }

/* line 73, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
.left {
  float: left; }

/* line 77, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_base.scss */
.right {
  float: right; }

/*
::-webkit-scrollbar {
  width: 10px; height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $teal;

  &:window-inactive {
    background-color: rgba($black, 0.3);
  }
}

::-webkit-scrollbar-track {
  background-color: rgba($black, 0.1);
}
*/
/* line 2, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_base.scss */
#aries-titlebar,
#aries-powerbar {
  border: 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.05);
  overflow: hidden;
  position: relative;
  width: 100%;
  -webkit-user-select: none; }

/* line 14, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_base.scss */
#aries-powerbar,
#-url-bar-mask,
#tab-wrapper {
  background-color: #f7f7f7; }

/* line 20, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_base.scss */
#aries-powerbar {
  height: 31px; }

/* line 27, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_base.scss */
#browsing-actions,
#-url-bar,
#status-bar,
#window-actions {
  position: absolute; }

/* line 31, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_base.scss */
#browsing-actions {
  left: 0; }

/* line 35, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_base.scss */
#window-actions {
  right: 0; }

/* line 1, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_titlebar.scss */
#aries-titlebar {
  background-color: #ddd;
  padding: 0.4rem 0.8rem;
  transition: all 0.2s ease;
  -webkit-app-region: drag; }
  /* line 8, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_titlebar.scss */
  #aries-titlebar h1 {
    margin: 0;
    padding: 0;
    color: transparent;
    cursor: default;
    font-size: 0.7rem;
    font-weight: 700;
    text-align: center;
    -webkit-user-select: none; }

/* line 1, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
#tab-wrapper {
  max-width: calc(100% - ((95px * 2) + 30vw));
  height: 31px;
  left: calc(95px + 30vw);
  overflow: scroll;
  position: absolute;
  white-space: nowrap; }
  /* line 9, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .js-tabby #tab-wrapper {
    display: block;
    visibility: visible; }

/* line 17, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
.tab {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
  height: 100%;
  margin: 0;
  padding: 0 0.5rem;
  background-color: transparent;
  border: 0;
  display: inline-block;
  overflow: hidden;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.2s 0.2s ease, transform 0.4s 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  vertical-align: top; }
  /* line 32, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab:not(:first-of-type) {
    border-left: 1px solid rgba(17, 17, 17, 0.05); }
  /* line 36, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab:not(.active) {
    border-bottom: 1px solid rgba(17, 17, 17, 0.05);
    color: rgba(17, 17, 17, 0.3); }
  /* line 41, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab.active {
    border-bottom: 1px solid transparent;
    color: rgba(17, 17, 17, 0.9); }
    /* line 45, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
    .tab.active .tab-favicon {
      opacity: 1; }
  /* line 50, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab.secure-site:before {
    /*
    bottom: 12px; left: 7px;

    color: lighten($dark-gray, 68%);
    content: "\f200";
    font-family: "Ionicons";
    font-size: 8px;
    line-height: 0;
    position: absolute;
    text-shadow: 0 1px 10px rgba($black, 0.5);
    z-index: 1;
    */ }
  /* line 65, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab .notification-count {
    top: 16px;
    left: 16px;
    background-color: #ff4136;
    color: #fff;
    font-size: 8px;
    line-height: 0.8;
    padding: 2px;
    position: absolute;
    z-index: 1; }
  /* line 79, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab .tab-favicon,
  .tab .tab-title,
  .tab .tab-close {
    display: inline-block;
    position: absolute;
    top: 0;
    vertical-align: middle; }
  /* line 86, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab .tab-title {
    font-family: Muli, "OpenSans", sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 1.9rem;
    right: 0;
    text-align: left;
    width: calc(100% - 29px); }
  /* line 99, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab .tab-favicon,
  .tab .tab-close {
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    cursor: pointer;
    margin: 7px; }
  /* line 107, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab .tab-favicon {
    opacity: 0.6; }
  /* line 111, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab .tab-close {
    color: rgba(17, 17, 17, 0.6);
    display: none;
    font-family: "Ionicons";
    font-size: 16px;
    transition: all 0.2s ease-in-out; }
    /* line 118, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
    .tab .tab-close:before {
      content: "\f2bd"; }
    /* line 122, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
    .tab .tab-close:hover:before {
      color: #ff4136;
      content: "\f2bc"; }
  /* line 129, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .tab:after {
    width: 50px;
    height: 31px;
    top: 0;
    right: 0;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #f7f7f7 100%);
    content: "";
    position: absolute; }

/* line 143, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
.js-tabby .tabs-pane {
  display: none;
  visibility: hidden; }
  /* line 147, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_tabs.scss */
  .js-tabby .tabs-pane.active {
    display: block;
    height: 100%;
    visibility: visible; }

/* line 3, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
#-url-bar-mask,
#-url-bar,
#status-bar {
  border: none;
  font-family: inherit;
  height: 31px;
  left: 95px;
  line-height: 1;
  overflow: hidden;
  padding: 0 0.5rem;
  transition: all 0.2s ease-in-out;
  white-space: pre;
  -webkit-appearance: none; }

/* line 18, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
#-url-bar,
#status-bar {
  background-color: transparent; }

/* line 25, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
#-url-bar-mask,
#-url-bar {
  border-right: 1px solid rgba(17, 17, 17, 0.05);
  font-size: 0.7rem;
  letter-spacing: 0.02rem;
  width: 30vw; }
  /* line 31, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
  #-url-bar-mask::-webkit-input-placeholder,
  #-url-bar::-webkit-input-placeholder {
    line-height: 1.33; }

/* line 36, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
#-url-bar-mask {
  cursor: default;
  display: none;
  padding-top: 0.6rem;
  position: absolute; }
  /* line 42, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
  #-url-bar-mask .https {
    color: #2ecc40; }

/* line 49, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/chrome/_url-bar.scss */
#status-bar {
  padding-top: 0.6rem;
  top: 31px; }

/* line 1, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_linker.scss */
.linker {
  font-family: "SourceCodePro", monospace;
  bottom: 1rem;
  left: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem 0 rgba(17, 17, 17, 0.15);
  cursor: default;
  font-size: 0.8rem;
  max-width: calc(100vw - 2rem);
  padding: 0.5rem;
  position: absolute;
  word-wrap: break-word;
  -webkit-user-select: none; }
  /* line 17, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_linker.scss */
  .linker:not(.active) {
    display: none; }
  /* line 21, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_linker.scss */
  .linker.active {
    display: block; }

/* line 2, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
html,
body {
  width: 100%;
  height: 100%; }

/* line 6, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
html {
  background-color: #fff;
  transition: background 0.5s ease; }

/* line 12, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
body {
  font-family: Muli, "OpenSans", sans-serif;
  font-size: 11px;
  margin: 0; }

/* line 19, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
ul, ol, menu, dir {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0; }

/* line 38, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
.button-group {
  display: flex;
  flex-direction: row;
  padding-left: 2px; }
  /* line 43, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  .button-group button {
    width: 31px;
    height: 31px;
    display: inline-block;
    float: left; }
    /* line 49, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
    .button-group button:hover {
      color: rgba(17, 17, 17, 0.9); }

/* line 57, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-settings,
button.app-go-back,
button.app-go-forth {
  border-right: 1px solid rgba(17, 17, 17, 0.05); }

/* line 61, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-settings {
  -webkit-user-select: none; }
  /* line 65, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.app-settings:active {
    transform: translate(0, 2px);
    -webkit-transform: translate(0, 2px); }
  /* line 70, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.app-settings:before {
    content: "\f20e"; }

/* line 76, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-go-back:active {
  transform: translate(-2px, 0);
  -webkit-transform: translate(-2px, 0); }

/* line 81, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-go-back:before {
  content: "\f153"; }

/* line 87, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-go-forth:active {
  transform: translate(2px, 0); }

/* line 91, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-go-forth:before {
  content: "\f154"; }

/* line 96, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-minimize {
  border-left: 1px solid rgba(17, 17, 17, 0.05); }
  /* line 99, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.app-minimize:active {
    transform: translate(0, 2px); }
  /* line 103, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.app-minimize:before {
    content: "\f1ac"; }

/* line 109, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-maximize:active {
  transform: translate(0, 2px); }

/* line 113, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-maximize:before {
  content: "\f1c9"; }

/* line 118, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.app-close {
  color: #ff4136; }
  /* line 121, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.app-close:active {
    transform: translate(0, 2px); }
  /* line 125, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.app-close:before {
    content: "\f2bd"; }

/* line 131, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
#aries-showcase,
iframe {
  width: 100vw !important;
  height: calc(100vh - 56px) !important; }

/* line 136, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
#aries-showcase {
  background-image: url("../images/speed-dial-bg2.png");
  background-repeat: repeat;
  background-size: 400px 299px; }

/* line 142, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
#showcase__loader {
  width: 100%;
  height: 10px;
  top: 56px;
  left: 0;
  position: absolute; }

/* line 149, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
button.start-settings {
  width: 100%;
  height: 31px;
  color: rgba(17, 17, 17, 0.6);
  font-size: 25px;
  margin: 60px 0; }
  /* line 156, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.start-settings:active {
    transform: translate(0, 2px); }
  /* line 160, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.start-settings:hover {
    color: rgba(17, 17, 17, 0.9); }
  /* line 164, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  button.start-settings:before {
    content: "\f13e"; }

/* line 170, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
#start-item-wrapper .start-item {
  width: 260px;
  height: 162px;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: #2e353d;
  text-align: center; }
  /* line 178, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  #start-item-wrapper .start-item button:active {
    transform: translate(0, 2px); }
  /* line 182, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_layout.scss */
  #start-item-wrapper .start-item button:before {
    color: white;
    content: "\f218";
    font-family: "Ionicons";
    font-size: 4rem; }

/* line 1, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_overlay.scss */
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.9);
  position: fixed; }
  /* line 8, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_overlay.scss */
  .overlay .overlay-close {
    top: 2rem;
    right: 2rem;
    outline: none;
    overflow: hidden;
    position: absolute;
    z-index: 100; }
    /* line 16, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_overlay.scss */
    .overlay .overlay-close:active {
      transform: translate(0, 2px); }
    /* line 20, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_overlay.scss */
    .overlay .overlay-close:before {
      color: white;
      content: "\f2bb";
      font-family: "Ionicons";
      font-size: 4rem; }

/* line 29, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_overlay.scss */
.overlay-scale {
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  visibility: hidden; }

/* line 36, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_overlay.scss */
.overlay-scale--is-open {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
  visibility: visible; }

/* line 4, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
.bt-menu {
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0);
  border-color: #2e353d;
  border-style: solid;
  border-width: 0;
  position: fixed;
  transition: background-color 0.3s, border-width 0.3s, height 0s 0.3s;
  -webkit-backface-visibility: hidden; }
  /* line 17, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
  .bt-menu ul {
    margin: 0;
    padding: 0;
    top: 75px;
    left: 0;
    list-style: none;
    position: fixed;
    width: 90px;
    -webkit-backface-visibility: hidden; }
    /* line 28, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
    .bt-menu ul li,
    .bt-menu ul li a {
      color: #fff;
      display: block;
      text-align: center;
      width: 100%; }
    /* line 35, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
    .bt-menu ul li {
      opacity: 0;
      padding: 16px 0;
      transition: opacity 0.2s, transform 0.3s, visibility 0s 0.3s;
      visibility: hidden; }

/* line 44, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
.bt-overlay {
  position: absolute;
  width: 100%; }

/* line 49, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
.bt-menu--is-open {
  background-color: rgba(17, 17, 17, 0.3);
  border-width: 31px 0 0 90px;
  height: 100%;
  transition: background-color 0.3s, border-width 0.3s; }
  /* line 55, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
  .bt-menu--is-open ul li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s, opacity 0.3s 0.1s;
    visibility: visible; }
  /* line 62, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_menu.scss */
  .bt-menu--is-open .bt-overlay {
    height: 100%; }

/* line 4, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
.context-menu-list {
  margin: 0;
  padding: 0;
  background-color: rgba(17, 17, 17, 0.55);
  color: #fff;
  cursor: default;
  font-family: "SourceCodePro", monospace;
  font-size: 12px;
  display: inline-block;
  transition: opacity 5s ease-out;
  padding: 0.5rem 0;
  position: absolute;
  width: auto;
  min-width: 135px; }
  /* line 18, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
  .context-menu-list .context-menu-item {
    line-height: 1.5rem;
    padding: 6px 15px;
    position: relative;
    user-select: none; }
    /* line 24, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
    .context-menu-list .context-menu-item:hover {
      background-color: rgba(17, 17, 17, 0.55);
      color: #fff; }
  /* line 30, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
  .context-menu-list .context-menu-separator:hover {
    background-color: transparent; }
  /* line 34, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
  .context-menu-list .context-menu-submenu:after {
    content: "\00a0>";
    float: right; }
  /* line 39, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
  .context-menu-list .context-menu-item > .context-menu-list {
    top: 5px;
    right: -5px;
    border-left: 5px solid rgba(17, 17, 17, 0.55);
    display: none; }
  /* line 46, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
  .context-menu-list .context-menu-item.hover > .context-menu-list {
    display: block;
    margin: -8px 0 0 0 !important; }

/* line 52, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_context.scss */
.context-menu-active {
  opacity: 1; }

/* line 1, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_progress.scss */
#nprogress {
  pointer-events: none; }
  /* line 4, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_progress.scss */
  #nprogress .bar {
    width: 100%;
    height: 4px;
    top: 0;
    left: 0;
    background-color: #50bebf;
    position: fixed;
    z-index: 1031; }
  /* line 13, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_progress.scss */
  #nprogress .peg {
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #50bebf, 0 0 5px #50bebf;
    display: none;
    opacity: 1;
    position: absolute;
    right: 0;
    transform: rotate(3deg) translate(0, -4px); }

/* line 25, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_progress.scss */
.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }
  /* line 31, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_progress.scss */
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute; }

/* line 4, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_online.scss */
.online-indicator {
  width: 3px;
  height: 47px;
  top: 0;
  right: 44px;
  display: block;
  position: absolute;
  z-index: 1; }

/* line 5, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_default.scss */
webview {
  background-color: #fff; }
  /* line 8, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_default.scss */
  webview html::-webkit-scrollbar {
    width: 0 !important; }
  /* line 13, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_default.scss */
  webview body h1 {
    color: rgba(17, 17, 17, 0.4);
    font-size: 30px; }
  /* line 20, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/resources/_sass/_default.scss */
  webview body input,
  webview body input:checked,
  webview body input:focus {
    outline: none !important; }

/*# sourceMappingURL=style.css.map */