@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/sourcecodepro/200.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/sourcecodepro/300.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sourcecodepro/400.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/sourcecodepro/500.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sourcecodepro/600.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/sourcecodepro/700.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/sourcecodepro/900.woff") format("woff"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/librebaskerville/400.woff") format("woff"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/librebaskerville/400i.woff") format("woff"); }

@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/librebaskerville/700.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/alegreya/400.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/alegreya/400i.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/alegreya/700.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/alegreya/700i.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/alegreya/900.woff") format("woff"); }

@font-face {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/alegreya/900i.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensans/300.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans/400.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/opensans/500.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/opensans/600.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensans/700.woff") format("woff"); }

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/opensans/900.woff") format("woff"); }

@font-face {
  font-family: "Ionicons";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ionic/ionicons.woff") format("woff"); }

/* line 210, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/code/resources/css/_app.fonts.scss */
.mono {
  font-family: "SourceCodePro", monospace; }

/* line 211, /Users/netopwibby/Desktop/Projects/IdeasNeverCease/_Sources/Apps/Aries/code/resources/css/_app.fonts.scss */
.sans {
  font-family: "OpenSans", sans-serif; }

/*# sourceMappingURL=_app.fonts.css.map */