/*
* CustomScrollbar.js styles
*/

html::-webkit-scrollbar {
  width: 0 !important;
}



#scrollbar,
#scrollthumb {
  top: 0; right: 0;
  position: absolute;
}



#scrollbar {
  background-color: transparent;
  border-left: 1px solid rgba(25, 25, 25, 0.05);
  height: 100%;
  transition: all 0.2s ease;
  width: 10px;
  z-index: 2;
}

#scrollbar:hover {
  background-color: rgba(25, 25, 25, 0.1);
  border-left-color: rgba(25, 25, 25, 0.1);
}



#scrollthumb {
  background-color: rgba(25, 25, 25, 0.3);
  right: 6px;
  transition: background-color 0.2s ease, right 0.2s ease, width 0.2s ease;
  width: 4px;
}

#scrollbar:hover #scrollthumb {
  background-color: #50bebf;
  right: 0;
  width: 100%;
}



/*
#scrollthumb:before,
#scrollthumb:after {
  width: 20px; height: 20px;

  background-position-x: 0;
  background-repeat: no-repeat;
  content: "";
  display: block;
  left: 0;
  position: absolute;
}

#scrollthumb:before {
  top: 0;
}

#scrollthumb:after {
  bottom: 0;
}
*/