
////////////////////////////////////////////////////////////////////////////////// APP.DEFAULT/SCSS ///
// test these styles here: http://hikar.io/test.html

iframe {
	background-color: $white;

	body {
		h1 {
			color: rgba($black, 0.3);
			font-size: 30px;
		}

		input, input:checked, input:focus { outline: none !important; }
	}
}