
///////////////////////////////////////////////////////////////////////////////// APP.PROGRESS/SCSS ///

#nprogress {
	pointer-events: none;

	.bar {
		width: 100%; height: 5px;
		top: 0; left: 0;

	  background-color: $teal;
	  position: fixed;
	  z-index: 1031;
	}

	.peg {
		width: 100px; height: 100%;

	  box-shadow: 0 0 10px $teal, 0 0 5px $teal;
	  display: block;
		opacity: 1;
	  position: absolute;
	  right: 0;
		transform: rotate(3deg) translate(0, -4px);

		-webkit-transform: rotate(3deg) translate(0, -4px);
	}

	// Remove these to get rid of the spinner

	.spinner {
		top: 15px; right: 15px;

	  display: block;
	  position: fixed;
	  z-index: 1031;
	}

	.spinner-icon {
	  width: 18px; height: 18px;

		animation: nprogress-spinner 400ms linear infinite;
	  border: 5px solid transparent;
	  border-top-color: $teal;
	  border-left-color: $teal;
	  border-radius: 50%;
		box-sizing: border-box;

	  -webkit-animation: nprogress-spinner 400ms linear infinite;
	}
}

@keyframes nprogress-spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-webkit-keyframes nprogress-spinner {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;

	#nprogress {
		.spinner,
		.bar { position: absolute; }
	}
}