
///////////////////////////////////////////////////////////////////////////////////// APP.BASE/SCSS ///

* {
	margin: 0; padding: 0;

	box-sizing: border-box;
	outline: none;
	text-rendering: optimizeLegibility !important;
	text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.004);

	-webkit-font-smoothing: antialiased !important;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer,
header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0;
  font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	overflow: hidden;
}

body {
	line-height: 1;
	-webkit-user-select: none;
}

button {
	margin: 0; padding: 0;

	background-color: transparent;
	border: 0;
	color: rgba(25, 25, 25, 0.3);
	font-family: "Ionicons";
	font-size: 16px;
	opacity: 1;
	transition: all 0.2s ease;
}

input:focus {
	outline: 0;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;

	&:visited {
		text-decoration: none;
	}
}

strong {
	font-weight: 600;
}

.left {
	float: left;
}

.right {
	float: right;
}

/////////////////////////////////////////////////////////////////////////////////////////// COLOURS ///

$black:     rgba(25, 25, 25, 1);    // #191919;
$white:     rgba(254, 254, 254, 1); // #fefefe;
$dark-gray:	rgba(61, 66, 72, 1);		// #3d4248;
$teal:			rgba(80, 190, 191, 1);	// #50bebf;

$red:				rgba(255, 49, 49, 1);		// #ff3131;
$orange:		rgba(255, 136, 49, 1);	// #ff8831;
$yellow:		rgba(255, 222, 0, 1);		// #ffde00;
$green:			rgba(0, 255, 0, 1);			// #00ff00;
$blue:			rgba(0, 96, 255, 1);		// #0060ff;
$purple:		rgba(162, 0, 255, 1);		// #a200ff;

.bg-black			{ background-color: $black; }
.bg-white			{ background-color: $white; }
.bg-teal			{ background-color: $teal; }
.bg-red				{ background-color: $red; }
.bg-orange		{ background-color: $orange; }
.bg-yellow		{ background-color: $yellow; }
.bg-green			{ background-color: $green; }
.bg-blue			{ background-color: $blue; }
.bg-purple		{ background-color: $purple; }

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

::-webkit-scrollbar {
  width: 10px; height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: $red;

	&:window-inactive {
		background-color: rgba($black, 0.3);
	}
}

::-webkit-scrollbar-track {
	background-color: rgba($black, 0.1);
}