
///////////////////////////////////////////////////////////////////////////////////// APP.MENU/SCSS ///

.bt-menu {
  width: 100%; height: 0;
  top: 0; left: 0;

  background-color: rgba($black, 0);
  border-color: $dark-gray;
  border-style: solid;
  border-width: 0;
  position: fixed;
  transition: background-color 0.3s, border-width 0.3s, height 0s 0.3s;

  -webkit-backface-visibility: hidden;

  ul {
    margin: 0; padding: 0;
    top: 75px; left: 0;

    list-style: none;
    position: fixed;
    width: 90px;

    -webkit-backface-visibility: hidden;

    li,
    li a {
      color: $white;
      display: block;
      text-align: center;
      width: 100%;
    }

    li {
      opacity: 0;
      padding: 16px 0;
      transition: opacity 0.2s, transform 0.3s, visibility 0s 0.3s;
      visibility: hidden;
    }
  }
}

.bt-overlay {
  position: absolute;
  width: 100%;
}

.bt-menu--is-open {
  background-color: rgba($black, 0.3);
  border-width: 31px 0 0 90px;
  height: 100%;
  transition: background-color 0.3s, border-width 0.3s;

  ul li {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s, opacity 0.3s 0.1s;
    visibility: visible;
  }

  .bt-overlay { height: 100%; }
}