
/////////////////////////////////////////////////////////////////////////////////// APP.LAYOUT/SCSS ///

html,
body {
	width: 100%; height: 100%;
}

html {
	background-color: $white;
	// border: 1px solid rgba($black, 0.05);
	transition: background 0.5s ease;
}

body {
	@include sans;
	font-size: 11px;
	margin: 0;
}

ul, ol, menu, dir {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}

// .playSound-embed, .playSound-audio { position: absolute; } // for when sounds are included

#aries-powerbar {
	background-color: lighten($dark-gray, 68%);
	height: 31px;
}

#browsing-actions,
#url-bar,
#status-bar,
#window-actions {
	position: absolute;
}

#browsing-actions {
	left: 0;
}

#window-actions {
	right: 0;
}

#url-bar,
#status-bar {
	background-color: transparent;
	border: none;
	height: 31px;
	left: 94px;
	line-height: 1;
	overflow: hidden;
	padding: 0 0.5rem;
	transition: all 0.2s ease-in-out;
	white-space: pre; //
	-webkit-appearance: none;
}

#url-bar {
	top: 0;
}

#status-bar {
	padding-top: 0.6rem;
	top: 31px;
}

#tab-wrapper {
	width: auto; height: 31px;

	background-color: lighten($dark-gray, 68%);
	display: none;
	position: absolute;
	right: 92px;
	visibility: hidden;

	.tab {
		width: 160px; height: 100%;
		margin: 0; padding: 0 0.5rem;

		background-color: transparent;
		border: 0;
		border-bottom: 1px solid rgba($black, 0.05);
		border-left: 1px solid rgba($black, 0.05);
		color: rgba($black, 0.3);
		float: left;
		overflow: hidden;
		position: relative;

		@include ellipsis;

		&.secure-site:before {
			bottom: 12px; left: 7px;

			color: lighten($dark-gray, 68%);
			content: "\f200";
			font-family: "Ionicons";
			font-size: 8px;
			line-height: 0;
			position: absolute;
			text-shadow: 0 1px 10px rgba($black, 0.5);
			z-index: 1;
		}

		.notification-count {
			top: 16px; left: 16px;

			background-color: $red;
			color: $white;
			font-size: 8px;
			line-height: 0.8;
			padding: 2px;
			position: absolute;
			z-index: 1;
		}

		.tab-favicon,
		.tab-title,
		.tab-close {
			display: inline-block;
			position: absolute;
			top: 0;
			vertical-align: middle;
		}

		.tab-title {
			@include sans;
			font-size: 10px;
			font-weight: 700;
			// left: 28px;
			line-height: 1.9rem;
			right: 0;
			text-align: left;
			width: calc(100% - 29px);
		}

		.tab-favicon,
		.tab-close {
			width: 16px; height: 16px;
			top: 0; left: 0;

			cursor: pointer;
			margin: 7px;
		}

		.tab-favicon {
			opacity: 0.6;
		}

		.tab-close {
			color: rgba($black, 0.6);
			display: none;
			font-family: "Ionicons";
			font-size: 16px;
			transition: all 0.2s ease-in-out;

			&:before {
				content: "\f2bd";
			}

			&:hover:before {
				color: $red;
				content: "\f2bc";
			}
		}

		// add blur to right of tab for long titles
		&:after {
			width: 50px; height: 31px;
			top: 0; right: 0;

			background: -webkit-linear-gradient(left, rgba($dark-gray, 0) 0%, lighten($dark-gray, 68%) 100%);
			content: "";
			position: absolute;
		}
	}

	.active {
		border-bottom: 1px solid transparent;
		color: rgba($black, 0.9);

		.tab-favicon {
			opacity: 1;
		}
	}

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

//
.js-tabby {
	// Display tab navigation if javascript enabled
	#tab-wrapper {
		display: block;
		visibility: visible;
	}

	// Hide tab content if javascript is enabled
	.tabs-pane {
		display: none;
		visibility: hidden;
	}
}

// Show tab content when active class is added (which is via js).
.tabs-pane.active {
  display: block;
  visibility: visible;
}
//

.button-group {
	display: flex;
	flex-direction: row;
	padding-left: 2px;

	button {
		width: 31px; height: 31px;

		display: inline-block;
		float: left;

		&:hover {
			color: rgba($black, 0.9);
		}
	}
}

button.app-settings,
button.app-go-back,
button.app-go-forth {
	border-right: 1px solid rgba($black, 0.05);
}

button.app-settings {
	// -webkit-app-region: drag;
	-webkit-user-select: none;

	&:active {
		transform: translate(0, 2px);
		-webkit-transform: translate(0, 2px);
	}

	&:before {
		content: "\f20e";
	}
}

button.app-go-back {
	&:active {
		transform: translate(-2px, 0);
		-webkit-transform: translate(-2px, 0);
	}

	&:before {
		content: "\f153";
	}
}

button.app-go-forth {
	&:active {
		transform: translate(2px, 0);
	}

	&:before {
		content: "\f154";
	}
}

button.app-minimize {
	border-left: 1px solid rgba($black, 0.05);

	&:active {
		transform: translate(0, 2px);
	}

	&:before {
		content: "\f1ac";
	}
}

button.app-maximize {
	&:active {
		transform: translate(0, 2px);
	}

	&:before {
		content: "\f1c9";
	}
}

button.app-close {
	color: $red;

	&:active {
		transform: translate(0, 2px);
	}

	&:before {
		content: "\f2bd";
	}
}

#aries-showcase,
iframe {
	// width: 100%; height: 100%;
	width: 100vw; height: calc(100vh - 56px);
}

#aries-showcase {
	background-image: url("../images/speed-dial-bg2.png");
	background-repeat: repeat;
	background-size: 400px 299px;
}

#showcase__loader {
	width: 100%; height: 10px;
	top: 56px; left: 0;

	position: absolute;
}

button.start-settings {
	width: 100%; height: 31px;

	color: rgba($black, 0.6);
	font-size: 25px;
	margin: 60px 0;

	&:active {
		transform: translate(0, 2px);
	}

	&:hover {
		color: rgba($black, 0.9);
	}

	&:before {
		content: "\f13e";
	}
}

#start-item-wrapper {
	.start-item {
		width: 260px; height: 162px;
		margin: 0 auto; padding: 3rem 0;

		background-color: $dark-gray;
		text-align: center;

		button {
			&:active {
				transform: translate(0, 2px);
			}

			&:before {
				color: rgba($white, 1);
				content: "\f218";
				font-family: "Ionicons";
				font-size: 4rem;
			}
		}
	}
}