
.context-menu-list {
	margin: 0; padding: 0;

	background-color: rgba(25, 25, 25, 0.55);
	color: #fcfcfc;
	cursor: default;
	font-family: "Courier New";
	font-size: 12px;
	display: inline-block;
	transition: opacity 5s ease-out;
	padding: 0.5rem 0;
	position: absolute;
	width: auto; min-width: 135px;
}

.context-menu-item {
	line-height: 1.5rem;
	padding: 6px 15px;
	position: relative;
	user-select: none;
}

.context-menu-item:hover {
	background-color: rgba(25, 25, 25, 0.55);
	color: #fcfcfc;
}

.context-menu-separator:hover { background-color: transparent; }

.context-menu-submenu:after {
	content: "\00a0>";
	float: right;
}

.context-menu-item > .context-menu-list {
	top: 5px; right: -5px;

	border-left: 5px solid rgba(25, 25, 25, 0.55);
	display: none;
}

.context-menu-item.hover > .context-menu-list {
	display: block;
	margin: -8px 0 0 0 !important;
}

.context-menu-active { opacity: 1; }